<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="NuGet.org">
      <package pattern="Argon" />
      <package pattern="DiffEngine" />
      <package pattern="DiffPlex" />
      <package pattern="EmptyFiles" />
      <package pattern="Knapcode.*" />
      <package pattern="MarkdownSnippets.MsBuild" />
      <package pattern="MarkdownSnippets.Tool" />
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
      <package pattern="Serilog" />
      <package pattern="Serilog.Exceptions" />
      <package pattern="Serilog.Extensions.Hosting" />
      <package pattern="Serilog.Extensions.Logging" />
      <package pattern="Serilog.Sinks.Console" />
      <package pattern="SimpleInfoName" />
      <package pattern="System.*" />
      <package pattern="Verify" />
      <package pattern="Verify.DiffPlex" />
      <package pattern="Verify.Xunit" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
